.main-container {
	height: 100vh;
	width: 100%;
}

.cards-container {
	float: right;
	width: 75vw;
	max-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.schedules {
	background-color: #e8ecfa;
	width: 71vh;
	height: 40vh;
	float: left;
	margin: 1em;
	border-radius: 10px;
	color: black;
	box-shadow: 5px 3px;
}
.schedule-card {
	width: 30vw;
	border-radius: 10px;
	margin-left: 2em;
	margin-right: 2em;
}
.announcement-container {
	max-height: 100vh;
	margin-top: 2em;
	overflow-y: scroll;
	overflow-x: hidden;
}
.announcement {
	background-color: #e8ecfa;
	height: 100%;
	width: 23vw;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 1em;
	border: solid 2px;
	
}
