.announcement-container {
	max-height: 100vh;
	width: 20vw;
	margin-top: 2em;
	overflow-y: scroll;
	overflow-x: hidden;
	/* margin: 0 10px; */
	margin-right: auto;
}
.announcement {
	background-color: #e8ecfa;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 1em;
	position: relative;
	border: solid 2px;

	
}
.main-container {
	height: 100%;
	width: 100%;
	background-color: #e8ecfa;
}