.Cont{
    background-color: #E8ECFA;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
/* .card-title{
    height: 100vh;
} */

.buttons{
    /* margin-bottom: 3vw; */
}
.btn{
    background-color: white;
    color: black;
    margin-bottom: 2vw;
    margin-top: 1vh;
    border: none;
    margin-right: 1vw;

}

.btn:hover{
    background-color: white;
}
button > a{
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    
}
button > a:hover{
    color: black;
}